{% extends "home/base.html" %}
{% load static %}
{% block head %}

    <title>EDC,TIET-E Talks</title>

    <style type="text/css">
        .spbgimg{
            position:absolute;
            top:0px;
            bottom:0px;
            width:100%;
            height:100%;
            z-index: 9;
        }
        .spbgimg:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.30);
        }
        .blogs-style2.blogs-style1.spcard .spbgimg:before{
            display:none;
        }
        .horizontal_image.blogs-style1.spcard .spbgimg {
            width: 100% !important;
            position: relative;
        }
        .spbgimg{
            height: 60%;
        }
        .blogs-style1.spcard.blogs-style2.blogs-featured .spbgimg:before, .blogs-style1.spcard.blogs-style2.blogs-featured .gallery_feed_wrap:before {
            width: 100%;
            height: 30%;
            background: #2f92bb;
            display: block;
            content: '';
            position: absolute;
            top: 0px;
            background: -moz-linear-gradient(top, rgba(9, 17, 25, 0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(9, 17, 25, 0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(9, 17, 25, 0.8) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            z-index: 10;
        }
        .blog .container .col-12 .spcard, .blog .container .col-12 .grid-sizer{
            width:80%;
            min-width:auto;
        }
        @media screen and (min-width: 1300px){

            .blog .container .col-12 .spcard, .blog .container .col-12 .grid-sizer{
                width:80%;
                min-width:auto;
            }
            .blog .container .col-12 .blogs-featured.spcard {
                width: 66.66%;
                min-width:auto;
            }
            .blog .container .col-8 .blogs-featured.spcard, .blog.blog-standardfull .container .col-12 .blogs-featured.spcard{
                width: 100%;
                min-width:auto;
            }
            .blog .container .col-8 .spcard,  .blog .container .col-8 .grid-sizer{
                width:100%;
                min-width:auto;
            }

        }
        .blog .container .col-8 .spcard,  .blog .container .col-8 .grid-sizer{
            width:100%;
            min-width:auto;
        }
        .horizontal_image.blogs-style1.spcard .spbgimg img {
            display: block;
            width: 100%;
        }

          

	</style>
	<style>
		.container{
			max-width: 98vw;
		}
	</style>

{% endblock head %}

{% block bodytag %}
    
    class="page-template page-template-tmp-blog-template page-template-tmp-blog-template-php page page-id-1039 woocommerce-no-js has-fixed-header     wpb-js-composer js-comp-ver-6.0.5 vc_responsive"

{% endblock bodytag %}
	
{% block body %}

<div class="page-title-wrap">
    <div class="page-title-bg rest-enable-parallax"></div>
        <div class="page-title-tint">
            
        </div>
            <div class="container header-flex header-enable-parallax">
                <h1>
                    E-TALKS
                </h1>
                <h4>
                    
                </h4>
            </div>
        </div>

                

<div class="main-content ">
<div class="blog  blog-standardfull">

	<div class="container">

		<div class="row">



			
			<div class="blog_item_wrapper effect-5  col-12 " style="display:flex; flex-direction: column; align-items: center;">
				<div class="grid-sizer"></div>
													<div id="post-1038" class=" spvideo-post blogs-featured blogs-style2 blogs-style1 spcard post-1038 post type-post status-publish format-video has-post-thumbnail hentry category-city-life category-classics category-photograph tag-city-life tag-shooter tag-strategy post_format-post-format-video">
		<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/innovation01.jpeg' %}) ; background-position: center; background-size: cover; " >
		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> August 30, 2020			</div>

			<h1 class="sptitle" style="font-weight: bold; color: #000;"> INNOVATION TALKS
			</h1>
            	<p class="sptext"><B> SATYAM MANOHAR </B>Director of the OLA Cabs, at Innovation Talk, a platform where great minds from the industry come to share their pool of knowledge with the young minds and reach the pinnacle of success.</p>

		
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
<br>
	
				<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e10.jpeg' %}) ; background-position: center; background-size: cover; " >
		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 21, 2020			</div>

			<h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 10
			</h1>
            	<p class="sptext"><B> SUDEEP GUPTA </B>Director International Business at OYO on "How to scale up the journey of Start Up" so that you can plan an intact journey for yourself.</p>

		
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
	<br>


	<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e9.jpg' %}); background-position: center; background-size: cover;" >
		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 13, 2020</div>

			<h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 09
			</h1>
            	<p class="sptext"><B> ANKIT PRASAD </B> Founder of Bobble AI on on Digital Driving Strategy </p>

		
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
	<br>

	<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e8.jpeg' %}); background-position: center; background-size: cover;" >
		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 12, 2020			</div>

			<h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 08
			</h1>
            	<p class="sptext"><B> Pratyush Kukreja </B> Sales and Marketing Head at Haptik who guided innovative minds for starting up post Covid-19</p>

		
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
	<br>



		<div class="spwrapper cat_color__background_color" >

		<div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e7.jpeg' %}); background-position: center; background-size: cover;" >
   		</div>


	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 06,2020</div>

			<h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 07
			</h1>
            			<p class="sptext"><b> SAMAR SINGLA</b> CEO, JUGNOO, guides us through how to survive the impact of COVID 19 on business worldwide.</p>

			
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
	<br>


		<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e6.jpeg' %}); background-position: center; background-size: cover;" >
		    		</div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> June 05, 2020			</div>

			<h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 06
			</h1>
            			<p class="sptext"><b> PUNEET VATSAYAN</b>,managing director at PKV ADVISORS speaks on the topic analysis of the trend followed by startups to raise funds.</p>

			
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
</div>									

									<div id="post-496" class=" spaudio-post blogs-featured blogs-style2 blogs-style1 spcard post-496 post type-post status-publish format-audio has-post-thumbnail hentry category-art category-blog category-retro tag-country tag-natur tag-photo tag-photog post_format-post-format-audio">
	
	





<br><br>			
<div class="pagination">
	<ul>
		<li class='active'><a href=''>1</a></li>
		<li><a href="{% url 'etalks2' %}" class='inactive'>2</a></li>
		<li><a class='page-selector' href= "{% url 'etalks2' %}">&raquo;</a></li>
	</ul>
</div>
			</div><!-- /.span8 -->

			
		</div><!-- /row -->

	</div><!-- /container -->

</div><!-- /containerblog -->

</div> <!-- content -->

<nav class="portfolio-navigation ">
    <div class="port-links container">
        <a class="port-previous" href="{% url 'vl' %}">
            <i class="fas fa-angle-left" aria-hidden="true"></i>
            <span class="meta-nav hide" aria-hidden="true">View Event</span>
            <h4 class="post-title event_title"><b>Venture Lab</b></h4>
        </a>
        <a class="back-to-list" href="{% url 'events' %}"><i class="fas fa-th" aria-hidden="true"></i></a>
        <a class="port-next" href="{% url 'startupweekend' %}">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
            <span class="meta-nav hide" aria-hidden="true">View Event</span>
            <h4 class="post-title event_title"><b>StartUp Weekend</b></h4>
        </a>
    </div>
</nav>
</div>
{% endblock body %}