{% extends "home/base.html" %}
{% load static %}
{% block head %}

    <title>EDC,TIET-E Talks</title>

    <style type="text/css">
        .spbgimg{
            position:absolute;
            top:0px;
            bottom:0px;
            width:100%;
            height:100%;
            z-index: 9;
        }
        .spbgimg:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.30);
        }
        .blogs-style2.blogs-style1.spcard .spbgimg:before{
            display:none;
        }
        .horizontal_image.blogs-style1.spcard .spbgimg {
            width: 100% !important;
            position: relative;
        }
        .spbgimg{
            height: 60%;
        }
        .blogs-style1.spcard.blogs-style2.blogs-featured .spbgimg:before, .blogs-style1.spcard.blogs-style2.blogs-featured .gallery_feed_wrap:before {
            width: 100%;
            height: 30%;
            background: red;
            display: block;
            content: '';
            position: absolute;
            top: 0px;
            background: -moz-linear-gradient(top, rgba(9, 17, 25, 0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(9, 17, 25, 0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(9, 17, 25, 0.8) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            z-index: 10;
        }

        .blog .container .col-12 .spcard, .blog .container .col-12 .grid-sizer{
            width:80%;
            min-width:auto;
        }
        @media screen and (min-width: 1300px){

            .blog .container .col-12 .spcard, .blog .container .col-12 .grid-sizer{
                width:80%;
                min-width:auto;
            }
            .blog .container .col-12 .blogs-featured.spcard {
                width: 66.66%;
                min-width:auto;
            }
            .blog .container .col-8 .blogs-featured.spcard, .blog.blog-standardfull .container .col-12 .blogs-featured.spcard{
                width: 100%;
                min-width:auto;
            }
            .blog .container .col-8 .spcard,  .blog .container .col-8 .grid-sizer{
                width:50%;
                min-width:auto;
            }

        }
        .blog .container .col-8 .spcard,  .blog .container .col-8 .grid-sizer{
            width:50%;
            min-width:auto;
        }
        .horizontal_image.blogs-style1.spcard .spbgimg img {
            display: block;
            width: 100%;
        }

          

    </style>
<style>
    .container{
        max-width: 98vw;
    }
</style>
{% endblock head %}

{% block bodytag %}
    
    class="page-template page-template-tmp-blog-template page-template-tmp-blog-template-php page page-id-1039 woocommerce-no-js has-fixed-header     wpb-js-composer js-comp-ver-6.0.5 vc_responsive"

{% endblock bodytag %}

{% block body %}			
				<div class="page-title-wrap">
					<div class="page-title-bg rest-enable-parallax"></div>
					<div class="page-title-tint"></div>
					<div class="container header-flex header-enable-parallax">
					    					           <h1>
					                ETALKS				           </h1>
                        													<h4></h4>
						
											</div>
				</div>

				
															
		<div class="main-content ">
<div class="blog  blog-standardfull">

	<div class="container">

		<div class="row">

			
			<div class="blog_item_wrapper effect-5  col-12 " style="display:flex; flex-direction: column; align-items: center;">
				<div class="grid-sizer"></div>
				        <div id="post-142" class=" blogs-style1 blogs-featured blogs-style2 spcard post-142 post type-post status-publish format-standard has-post-thumbnail hentry category-classics category-natu category-retro tag-machine-motion tag-photog tag-prints-3d">        <div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e5.jpeg' %}); background-position: center; background-size: cover;" >
                    </div>

    

    <div class="spdata">
        <div class="spcontent">
            <span class="spauthor">
                
                    
            </span>

            <div class="spdate">
                <i class="far fa-clock" aria-hidden="true"></i> June 02, 2020           
            </div>

            <h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 05
            </h1>
                <p class="sptext"><B> VIKRAM SHETTY </B>discusses the impact of covid 19 on industries and opportunities present post covid.</p>

        
        </div>
    </div>

        <i class="fas fa-quote-left" aria-hidden="true"></i>

    </div>
    <br>

        <div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e4.jpeg' %}); background-position: center; background-size: cover;" >
                    </div>

    

    <div class="spdata">
        <div class="spcontent">
            <span class="spauthor">
                
                    
            </span>

            <div class="spdate">
                <i class="far fa-clock" aria-hidden="true"></i> June 17, 2013           </div>

        <h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 04
        </h1>
                        <p class="sptext"><B> Saurabh Trivedi</B> guides young entrepreneurs on importance of strategic planning for startups.</p>

            
        </div>
    </div>

        <i class="fas fa-quote-left" aria-hidden="true"></i>

    </div>
    <br>

        <div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e3.jpeg' %}); background-position: center; background-size: cover;" >

                    </div>

    

    <div class="spdata">
        <div class="spcontent">
            <span class="spauthor">
                
                
            </span>

            <div class="spdate">
                <i class="far fa-clock" aria-hidden="true"></i> May 9, 2020         </div>

            <h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 03
            </h1>
                        <p class="sptext">Finance and Consulting Bootcamp by <B> ABHISHEK RAI and SHASHANK PATIDAR</B></p>

            
        </div>
    </div>

        <i class="fas fa-quote-left" aria-hidden="true"></i>

    </div>


<br>
		<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e2.jpeg' %}); background-position: center; background-size: cover;" >
        </div>

	


	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> April 29, 2020		</div>

            <h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 02
            </h1>
            			<p class="sptext"><B> ASHWINI BAJAJ</B> takes us down the road of how to invest on yourself and startup culture in India.</p>

			
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
</div>									
<div id="post-141" class=" blogs-style1 blogs-featured blogs-style2 spcard post-141 post type-post status-publish format-standard has-post-thumbnail hentry category-art category-blog category-city-life tag-art tag-country tag-natur tag-photo tag-photog">
	

		<div class="spwrapper cat_color__background_color" >

        <div class="spbgimg blog-roll-i post1038" style=" background: url({% static 'event/images/etalk/e1.jpeg' %}); background-position: center; background-size: cover;" >

                    </div>

	

	<div class="spdata">
		<div class="spcontent">
			<span class="spauthor">
				
					
			</span>

			<div class="spdate">
				<i class="far fa-clock" aria-hidden="true"></i> April 26, 2020			</div>

            <h1 class="sptitle" style="font-weight: bold; color: #000;"> ETALKS 01
            </h1>
            			<p class="sptext"><B>SANCHIT GOYAL</B>presents his views on Employment under recession and startup culture in India</p>

			
		</div>
	</div>

		<i class="fas fa-quote-left" aria-hidden="true"></i>

	</div>
        <div class="pagination">
            <ul>
                <li>
                    <a class='page-selector' href="{% url 'etalks' %}">
                        &laquo;
                    </a>
                </li>
                <li>
                    <a href="{% url 'etalks' %}" class='inactive'>
                        1
                    </a>
                </li>
                <li class='active'>
                    <a href=''>
                        2
                    </a>
                </li>
            </ul>
        </div>              
        <div class="clear"></div>
</div>									


			</div><!-- /.span8 -->

			
		</div><!-- /row -->

	</div><!-- /container -->

</div><!-- /containerblog -->
</div> <!-- content -->

<nav class="portfolio-navigation ">
    <div class="port-links container">
        <a class="port-previous" href="{% url 'vl' %}">
            <i class="fas fa-angle-left" aria-hidden="true"></i>
            <span class="meta-nav hide" aria-hidden="true">View Event</span>
            <h4 class="post-title event_title"><b>Venture Lab</b></h4>
        </a>
        <a class="back-to-list" href="{% url 'events' %}"><i class="fas fa-th" aria-hidden="true"></i></a>
        <a class="port-next" href="{% url 'startupweekend' %}">
            <i class="fas fa-angle-right" aria-hidden="true"></i>
            <span class="meta-nav hide" aria-hidden="true">View Event</span>
            <h4 class="post-title event_title"><b>StartUp Weekend</b></h4>
        </a>
    </div>
</nav>

{% endblock body %}