{% extends "home/base.html" %}
{% load static %}
{% block head %}
<title>EDC,TIET-Logout</title>
<link rel="pingback" href="{% static 'home/xmlrpc.php'%}" />
    <link rel='stylesheet' id='ult-stats-counter-style-css' href="{% static 'home/css/stats-counter.min.css' %}" type='text/css' media='all' />

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='https://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />

  
    <style>
      body{
        background-color: #FFFFFF!important;
      }
      .main {
        background-color: #FFFFFF;
        width: 75%;
        height: 300px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        }
        a{
            color: rgb(47, 146, 187);
        }
        a:hover {
            color:black;
        }
    </style>
    <style type="text/css">
        @media(max-width: 725px){
            .main{
                width: 90%;
            }
        }
    </style>
{% endblock head %}

{% block bodytag %}
    class="paged page-template page-template-tmp-blog-template page-template-tmp-blog-template-php page page-id-1039 paged-2 page-paged-2 woocommerce-no-js has-fixed-header     wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
{% endblock bodytag %}

{% block body %}
<div class="main">
    <h1 style="text-align: center; font-size: 40px; padding-top: 20px; font-weight: bold;">Logged Out</h1>
<fieldset class="form-group">
    <legend class="border-bottom mb-6 " style="font-size: 30px; padding-bottom: 5px; text-align: center; padding-top: 40px;">You have been successfully logged out.</legend>
</fieldset>
<div class="border-bottom pt-3"  style="margin-top: 25px; margin-bottom: 40px; font-size: 25px; text-align: center;">
    <small class="text-muted">
    <a href="{% url 'login' %}">Log In Again</a>
    </small>
</div>
</div>

{% endblock body %}