{% extends 'home/base.html' %}
{% load static %} 
{%load crispy_forms_tags %} 
{% block head %}
<title>EDC,TIET-SignUp Startup</title>
    <link rel="pingback" href="{% static 'home/xmlrpc.php'%}" />
    <link rel='stylesheet' id='ult-stats-counter-style-css' href="{% static 'home/css/stats-counter.min.css' %}" type='text/css' media='all' />

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='https://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />

  
    <style>
      .body-bg{
        background-image: url({% static 'home/images/mario-gogh-VBLHICVh-lI-unsplash.jpg' %}) !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 7em 0px;
      }
      .main {
        background-color: #FFFFFF;
        width: 800px;
        height: 100%;
        margin: 0px auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        }
        .sign {
        padding-top: 40px;
        color: rgb(47, 146, 187);
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 40px;
        }
        form.form1 {
        padding-top: 40px;
        }
        .un {
      width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Montserrat';
      }
      .pass {
              width: 76%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: rgba(136, 126, 126, 0.04);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 46px;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Montserrat';
      }
      .submit {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, rgb(0, 155, 221), rgb(47, 146, 187));
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Montserrat';
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

    a{
      color: rgb(47, 146, 187);
      font-weight: bold;
    }

    a:hover{
      color: black;
    }

    strong {
      color: #ff1111;
    }

    .alert{
      color: #ff1111 !important;
    }
    </style>
    <style type="text/css">
      @media(max-width: 725px){
          .main{
            width: 90%;
          }
      }
    </style>
{% endblock head %}

{% block bodytag %}
    class="paged page-template page-template-tmp-blog-template page-template-tmp-blog-template-php page page-id-1039 paged-2 page-paged-2 woocommerce-no-js has-fixed-header     wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
{% endblock bodytag %}

{% block body %}

<div class="body-bg">
  <div class="main">
    <p class="sign" style="padding-top: 70px;" align="center">Sign Up As a Startup</p>
    <div class="" style="margin-left: 80px; margin-right: 80px; font-family: 'Montserrat';" >
      <form class="form1" id="login-form" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form|crispy}}
        <input style="background-color: rgb(47, 146, 187)" type="submit" value="Sign up" class="btn btn-primary pull-right" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

        <div class="border-top pt-4" style="font-size: 20px; padding-bottom: 50px; padding-top: 80px; text-align: center;">
            <small class="text-muted">
                Already Have An Account?<a class="ml-2" href="{% url 'login' %}"> Login Now </a>
            </small>
        </div>

    </div>
  </div>
</div>
{% endblock body %}
