{% extends 'home/base.html' %}
{% load static %}

{% block head%}
<title>EDC,TIET-Profile Startup</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 70%;
        margin: auto;
        text-align: center;
        font-family: arial;
        background: #eeeeee;
    }

    .title {
        color: grey;
        font-size: 18px;
    }


    .profile-pic {
        border-radius: 50%;
        width: 200px !important;
        height: 200px !important;
        margin-top: 2%;
        margin-bottom: 1%;
    }


    .btn{
        margin-right: 20px;
        border-radius: 10px; 
        padding: 10px 70px; 
        margin: 20px auto; 
        font-size: 21px; 
        color: black; 
        text-align: center;
        display:block; 
        color: white;
        transition: 0.5s;
        background: rgb(47, 146, 187);
        max-width: 300px;
    }

    .btn:hover {
        transform: scale(1.02); 
        font-size: 21px; 
        text-align: center;
        display:block; 
        color: white;
    }
</style>
<style type="text/css">
    @media(max-width: 725px){
        .main{
            width: 100%;
            margin-top: 50%;
        }
    }
</style>


{% endblock head%}

{% block bodytag %}

class="home page-template-default page page-id-17 woocommerce-no-js has-fixed-header wpb-js-composer js-comp-ver-6.0.5
vc_responsive" 

{% endblock bodytag %}



{% block body %}



<div class="card" style="margin-top: 10%; margin-bottom: 2%; padding: 2% 4% 2% 4%; overflow-wrap: break-word;">
    <img class="profile-pic" src="{{object.startup_logo.url}}" alt="{{object.startup_name}}">
    <h1 style="font-weight: bold; margin-bottom: 1%; color: #000">{{object.startup_name}}</h1>
    <a href="{{object.user.email}}">
        <h3 style="font-weight: bold; margin-bottom: 1%; color: grey">{{object.user.email}}</h3>
    </a>
    <hr style="border: 1px solid rgba(0, 0, 0, 0.05); max-width: 30%; margin-top: 2%; margin-bottom: 4%;">

    <div style="text-align: left !important;">

        <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center;">
            <div style="width:100%; text-align: center;">
                <h2 style="font-weight: bold; margin-bottom: 1%; color: #000">About The Startup</h2>
                <p style="font-size: large; font-weight: 120;">{{object.about_the_startup}}</p>
                <hr style="border: 1px solid rgba(0, 0, 0, 0.05); max-width: 100%; margin: 2% 2% 4% 1%;">
            </div>
        </div>

        <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center;">
            <div style="min-width: 50%; text-align: center;">
                <h2 style="font-weight: bold; margin-bottom: 1%; color: #000">Founders</h2>
                <p style="font-size: large; font-weight: 120;">{{object.founders}}</p>
                <hr style="border: 1px solid rgba(0, 0, 0, 0.05); max-width: 100%; margin: 2% 2% 4% 1%;">
            </div>
            <div style="min-width: 50%; text-align: center;">
                <h2 style="font-weight: bold; margin-bottom: 1%; color: #000">Field Of Work</h2>
                <p style="font-size: large; font-weight: 120;">{{object.field_of_work}}</p>
                <hr style="border: 1px solid rgba(0, 0, 0, 0.05); max-width: 100%; margin: 2% 2% 4% 1%;">
            </div>
        </div>

        <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center;">
            <div style="min-width: 50%; text-align: center;">
                <h2 style="font-weight: bold; margin-bottom: 1%; color: #000">Location</h2>
                <p style="font-size: large; font-weight: 120;">{{object.location}}</p>
                <hr style="border: 1px solid rgba(0, 0, 0, 0.05); max-width: 100%; margin: 2% 2% 4% 1%;">
            </div>

            <div style="min-width: 50%; text-align: center;">
                <h2 style="font-weight: bold; margin-bottom: 1%; color: #000">Website</h2>
                <a href="{{object.website}}"><p style="font-size: large; font-weight: 120; color:#888888; text-decoration: underline;">{{object.website|slice:":25"}}...</p></a>
                <hr style="border: 1px solid rgba(0, 0, 0, 0.05); max-width: 100%; margin: 2% 2% 4% 1%;">
            </div>
        </div>

    </div>

    <a href="{% url 'profile-update' %}" class="btn">Update Profile</a>

</div>

{% endblock body%}