{%extends "home/base.html"%}
{% load static %}
{% block head %}

<meta name="description" content="A portal specifically designed for early age startups to connect with potential investors and VCs.">
<meta name="keywords" content="startups edctiet, edctiet, startups edc thapar, startups, ecell, edc, entrepreneurship development cell, edc thapar, thapar, thapar university">
<title>EDC,TIET-Terms and Condition</title>
<style>
    .flexx {
        display: flex !important;
        flex-wrap: wrap !important;
        align-content: center !important;
    }


    .fill {
        display: flex;

    }

    .text1 {
        color: white;
        font-size: 20px;
        position: absolute;
        opacity: 1.5;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .icon_box_one:hover {
        transform: scale(1.03);
    }

    .icon_box_one h2,
    .icon_box_one a {
        transition: ease-in-out 1s;
    }

    .icon_box_one h2:hover,
    .icon_box_one a:hover {
        transform: scale(1.05);
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    }

    .icon_box_two i {
        position: absolute;
        left: 15px;
        font-size: 56px;
        width: 50px;
        color: rgb(47, 146, 187);
        top: 5px;
        bottom: auto;
        line-height: 1;
    }

    .icon_box_two {
        transition: ease-in 0.5s;
        transition: ease-out 1s;
    }

    .icon_box_two:hover {

        border-radius: 5px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(47, 146, 187);
    }

    .container {
        position: relative;
        width: 100%;
    }

    .c1:hover .overlay {
        opacity: 0.8;
    }

    .image {
        display: block;
        width: 50%;
        height: auto;
    }
    details>p{
      margin-left: 15px;
    }

    #card {
        margin-bottom: 20px; 
        margin-right:1%;
        width:45vw; 
        margin-left: 1%;
    }
    .heading{
        position: absolute; 
        top: 1%; 
        left: 2%; 
        text-transform: 
        uppercase; 
        color:rgb(47, 146, 187);
    }
    .alignmargin{
        margin-left:3%;
    }
    @media only screen and (max-width: 1100px){
        .text1{
                font-size: 15px !important;   
        }
        #card {
            margin-bottom: 20px; 
            margin-right:1%;
            width:80vw; 
            margin-left: 1%;
        }
        .alignmargin{
            margin-left:2%;
        }
    }   
    @media only screen and (max-width: 890px){
        .text1{
                font-size: 10px !important;
                margin-left: -5% !important;
                margin-right: -1% !important; 
                margin-top: 4% !important;
                line-height: normal !important;
        }
        #card {
        margin-bottom: 20px; 
        margin-right:1%;
        width:80vw; 
        margin-left: 1%;
        }
        .alignmargin{
            margin-left:2%;
        }   
    }

</style>
{% endblock head %}

{% block bodytag %}
class="home page-template-default page page-id-17 woocommerce-no-js has-fixed-header wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
{% endblock bodytag %}
{% block body %}

<div class="main-content ">
    <div class="container">
        <div class="row">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_layerslider_element wpb_content_element">
                                <script data-cfasync="false" type="text/javascript">
                                    var lsjQuery = jQuery;

                                </script>
                                <script data-cfasync="false" type="text/javascript">
                                    lsjQuery(document).ready(function() {
                                        if (typeof lsjQuery.fn.layerSlider == "undefined") {
                                            if (window._layerSlider && window._layerSlider.showNotice) {
                                                window._layerSlider.showNotice('layerslider_1', 'jquery');
                                            }
                                        } else {
                                            lsjQuery("#layerslider_1").layerSlider({
                                                sliderVersion: '6.7.1',
                                                type: 'fullwidth',
                                                responsiveUnder: 1000,
                                                allowFullscreen: false,
                                                maxRatio: 1000,
                                                skin: 'v6',
                                                navPrevNext: false,
                                                hoverPrevNext: false,
                                                navStartStop: false,
                                                navButtons: false,
                                                showCircleTimer: false,
                                                thumbnailNavigation: 'disabled',
                                                skinsPath: 'https://skywarriorthemes.com/benri/demo1/wp-content/plugins/LayerSlider/static/layerslider/skins/'
                                            });
                                        }
                                    });

                                </script>
                                <div id="layerslider_1" class="ls-wp-container fitvidsignore" style="width:1280px;height:850px;margin:0 auto;margin-bottom: 0px;">
                                    <div class="ls-slide" data-ls="kenburnsscale:1.2;"><img width="2000" height="1336" src="{%static 'startupEcosystem/images/tnc_home.jpg'%}" class="ls-bg" alt="startup funding" sizes="(max-width: 2000px) 100vw, 2000px" />
                                        <p style="top:508px;left:352px;text-align:center;font-weight:300;font-style:normal;text-decoration:none;color:rgba(255, 255, 255, 0.8);font-size:20px;" class="ls-l" data-ls="showinfo:1;parallax:true;parallaxlevel:-15;parallaxtype:3d;parallaxevent:scroll;parallaxaxis:y;"> <br> </p>
                                        <h1 style="top:228px;left:350px;text-align:center;font-weight:800;font-style:normal;text-decoration:none;font-family:Lato;font-size:100px;line-height:120px;color:#ffffff;" class="ls-l" data-ls="showinfo:1;parallax:true;parallaxlevel:-18;parallaxtype:3d;parallaxevent:scroll;parallaxaxis:y;">TERMS &<br>
                                            CONDITIONS</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1522954642578">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInDown" data-animation-delay="0" data-animation-duration="3" data-animation-iteration="1" style="opacity:0;" data-opacity_start_effect="">
                                                <div id="ultimate-heading-58855ec7fe8b6b57b" class="uvc-heading ult-adjust-bottom-margin ultimate-heading-58855ec7fe8b6b57b uvc-4982 " data-hspacer="line_only" data-halign="center" style="text-align:center">
                                                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-58855ec7fe8b6b57b h2' data-responsive-json-new='{"font-size":"desktop:32px;","line-height":"desktop:32px;"}'>
                                                        <h2 class="title" style="font-size: 50px; text-align: center;">
                                                            <span style="color: rgb(47, 146, 187);">WHAT</span> WE
                                                            <span style="color: rgb(47, 146, 187);">OFFER</span>
                                                    </div>
                                                    <div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:35px;height:2px;"><span class="uvc-headings-line" style="border-style:solid;border-bottom-width:2px;border-color:#d6d6d6;width:70px;"></span></div>
                                                    <div id="about" class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-58855ec7fe8b6b57b .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:20px;","line-height":"desktop:35px;"}' style="font-family:&#039;Lato&#039;;font-weight:300;color:#666666;">
                                                        </p>
                                                        <h3 style="text-align: center; font-weight: normal;">A startup ecosystem is formed by people, startups in their various stages and various types of organizations in a location (physical or virtual), interacting as a system to create and scale new startup companies. The benefits of start up ecosystem are numerous and includes: </h3>
                                                        <p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                <div class="wpb_wrapper">
                                                    <style>
                                                        @media screen and (max-width: 600px) {
                                                            .vc_custom_1522954642578 {
                                                                padding-top: 20px !important;
                                                            }
                                                        }

                                                    </style>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1494618991842">
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper" style="align-items: center;">
                                            <div class="aio-icon-component    style_2">
                                                <div id="Info-box-wrap-8529" class="aio-icon-box top-icon" style="">
                                                    <div class="aio-icon-top">
                                                        <div class="ult-just-icon-wrapper  ">
                                                            <div class="align-icon" style="text-align:center;">
                                                                <div class="aio-icon none " data-animation="slideInDown" data-animation-delay="03" style="color:rgb(47, 146, 187);font-size:32px;display:inline-block;">
                                                                    <i class="fas fa-user-friends"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="aio-icon-header">
                                                        <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-8529 .aio-icon-title' data-responsive-json-new='{"font-size":"","line-height":""}' style="">Creating jobs and attracting a talent pool. </h3>
                                                    </div> <!-- header -->
                                                    <div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-8529 .aio-icon-description' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                        </p>
                                                        <p style="text-align: center;"> </p>
                                                        <p>
                                                    </div> <!-- description -->
                                                </div> <!-- aio-icon-box -->
                                            </div> <!-- aio-icon-component -->
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="aio-icon-component    style_3">
                                                <div id="Info-box-wrap-7156" class="aio-icon-box top-icon" style="">
                                                    <div class="aio-icon-top">
                                                        <div class="ult-just-icon-wrapper  ">
                                                            <div class="align-icon" style="text-align:center;">
                                                                <div class="aio-icon none " data-animation="slideInDown" data-animation-delay="03" style="color:rgb(47, 146, 187);font-size:32px;display:inline-block;">
                                                                    <i class="fas fa-building"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="aio-icon-header">
                                                        <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-7156 .aio-icon-title' data-responsive-json-new='{"font-size":"","line-height":""}' style="">Attracting MNCs and large companies. </h3>
                                                    </div> <!-- header -->
                                                    <div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-7156 .aio-icon-description' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                        </p>
                                                        <p style="text-align: center;"></p>
                                                        <p>
                                                    </div> <!-- description -->
                                                </div> <!-- aio-icon-box -->
                                            </div> <!-- aio-icon-component -->
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="aio-icon-component    style_3">
                                                <div id="Info-box-wrap-3435" class="aio-icon-box top-icon" style="">
                                                    <div class="aio-icon-top">
                                                        <div class="ult-just-icon-wrapper  ">
                                                            <div class="align-icon" style="text-align:center;">
                                                                <div class="aio-icon none " data-animation="slideInDown" data-animation-delay="03" style="color:rgb(47, 146, 187);font-size:32px;display:inline-block;">
                                                                    <i class="fas fa-globe"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="aio-icon-header">
                                                        <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-3435 .aio-icon-title' data-responsive-json-new='{"font-size":"","line-height":""}' style="">Talent retention and attracting global talent. </h3>
                                                    </div> <!-- header -->
                                                    <div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-3435 .aio-icon-description' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                        </p>
                                                        <p style="text-align: center;"> </p>
                                                        <p>
                                                    </div> <!-- description -->
                                                </div> <!-- aio-icon-box -->
                                            </div> <!-- aio-icon-component -->
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="aio-icon-component    style_3">
                                                <div id="Info-box-wrap-5288" class="aio-icon-box top-icon" style="">
                                                    <div class="aio-icon-top">
                                                        <div class="ult-just-icon-wrapper  ">
                                                            <div class="align-icon" style="text-align:center;">
                                                                <div class="aio-icon none " data-animation="slideInDown" data-animation-delay="03" style="color:rgb(47, 146, 187);font-size:32px;display:inline-block;">
                                                                    <i class="fas fa-rupee-sign"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="aio-icon-header">
                                                        <h3 class="aio-icon-title ult-responsive" data-ultimate-target='#Info-box-wrap-5288 .aio-icon-title' data-responsive-json-new='{"font-size":"","line-height":""}' style="">Tax revenue for the government. </h3>
                                                    </div> <!-- header -->
                                                    <div class="aio-icon-description ult-responsive" data-ultimate-target='#Info-box-wrap-5288 .aio-icon-description' data-responsive-json-new='{"font-size":"","line-height":""}' style="">
                                                        </p>
                                                        <p style="text-align: center;"> </p>
                                                        <p>
                                                    </div> <!-- description -->
                                                </div> <!-- aio-icon-box -->
                                            </div> <!-- aio-icon-component -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div><!-- Row Backgrounds -->
            <div class="upb_color" data-bg-override="0" data-bg-color="#ffffff" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false" data-custom-vc-row="" data-vc="6.0.5" data-is_old_vc="" data-theme-support="" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""></div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1494624914514">
                <div class="wpb_column vc_column_container">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper alignmargin">
                            <div class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft">

                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-10 section_title">
                                        <h3 class="title" style="font-size: 50px; text-align: center;">
                                            <span style="color: rgb(47, 146, 187);">Sign</span>Up
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <div class="row justify-content-center mt30 fill flexx">

                                    <div class="col-md-5 c1 " id="card">
                                        <div class="icon_box_one" style="position: relative; width: 100%; display: inline-block; margin: auto; ">
                                            <img src="{%static 'startupEcosystem/images/students.png'%}" alt="student entrepreneurs ideas" style="position: relative; width: 100%; display: block; margin: auto; ">
                                            <h2 class="heading">Students</h2>
                                            <div class="content overlay">
                                                <p class="text1">
                                                    Simply register with your college mail id, fill your work interests and choose a startup to work in. We will get you connected with them!
                                                    <br> <a href="{% url 'student-signup' %}" style="font-size: 21px; color: black; text-align: center;">Click Here to Signup.</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-5 c1" id="card">
                                        <div class="icon_box_one" style="position: relative; width: 100%; display: inline-block; margin: auto; ">
                                            <img src="{% static 'startupEcosystem/images/startup.png' %}" alt="startup investment" style="position: relative; width: 100%; display: block; margin: auto; ">
                                            <h2 class="heading">Startups</h2>
                                            <div class="content overlay">
                                                <p class="text1">
                                                    Register your team requirements with us with necessary details. We will highlight it on our website and get you connected!<br>
                                                    <a href="{% url 'startup-signup' %}" style="font-size: 21px; color: black; text-align: center;">Click Here to Signup.</a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br><br><br>
                                <section class="pt100 pb100">
                                    <div class="container" style="margin-top: -50px;">
                                        <div class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft">
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-md-10 section_title">
                                                    <h3 class="title" style="font-size:50px; text-align: center;">
                                                        <span style="color: rgb(47, 146, 187); font-size:50px;">Terms</span> and <span style="color: rgb(47, 146, 187); font-size:50px;">Conditions</span>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-11 col-md-5" style="width: 100%;">
                                                <div class="icon_box_two">
                                                    <div>
                                                        <ul style="padding-top: 20px; font-size:15px;">
                                                            <li>
                                                                All the contents present on this website are Intellectual property of Entrepreneurship Development Cell (EDC), Thapar. This does not include links to other websites or the internships present on the website.
                                                            </li>
                                                            <li>
                                                                Entrepreneurship Development Cell (EDC) Thapar holds the right to terminate accounts of any user, barring them from applying for any and all internships if the user provides false information about themselves, tries to impersonate someone else, misuses the information present on the website or for any reason that violates the principles and working ethics of the organization. </li>
                                                            <li>Entrepreneurship Development Cell (EDC) Thapar is in no way or form responsible for any legal, financial or ethical conflict that may arise between any organization/ start-up/ company and the student prior, during or after the internship period. We only serve as a portal to allow start-ups to recruit talented students with the necessary skills.</li>
                                                            <li>The Entrepreneurship Development Cell (EDC) Thapar will not be held responsible in case of breach of security and loss of user data from it’s website or portal.</li>
                                                            <li>The information about the internships present on the website are taken directly from the organizations that they belong to and hence any discrepancies, errors or inconsistencies present in them is not the responsibility of Entrepreneurship Development Cell (EDC) Thapar.</li>
                                                            <li>Entrepreneurship Development Cell (EDC) Thapar holds all the trade rights for it’s logo, hence any forgery, reproduction of the same without prior information to the Cell will be considered as a breech of Intellectual property.</li>
                                                            <li>Entrepreneurship Development Cell (EDC) Thapar does not take responsibility for any third party plug-ins.</li>
                                                            <li>The students using the website have the right to view articles and information, make accounts and apply for internships through our website. Any action to tamper with the base code and functioning of the website will be considered a breach of security.</li>
                                                            <li>In case of a breach of security, Entrepreneurship Development Cell (EDC) Thapar holds the right to take appropriate action with the authorities against the individual involved.</li>
                                                            <li>Multiple accounts for the purpose of spamming or altering the selection process of the internship will be considered a breach of security.</li>
                                                            <li>Entrepreneurship Development Cell (EDC) Thapar will hold the right to take legal action with the appropriate authorities against anyone who breaks the terms and conditions of the website.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </section>
                                <br><br><br>
                                <div class="container" style="margin-top: -50px;">
                                    <div class="wpb_single_image wpb_content_element vc_align_left  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft">
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-md-10 section_title">
                                                <h3 class="title" style="font-size:50px; text-align: center;">
                                                    <span style="color: rgb(47, 146, 187); font-size:50px;">Frequently</span> asked <span style="color: rgb(47, 146, 187); font-size:50px;">Questions</span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left: 30px;margin-bottom:30px;">
                                <details>
                                    <summary style="font-weight: bold;">Is EDC a society?</summary>
                                    <p>No, we are not. Just like our name says (Entrepreneurship Development Cell) we are a CELL, the only E-cell of Thapar University. We are here to foster start-ups, provide them with incubation in order to allow young Entrepreneurs to grow their organization during their journey at Thapar.</p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">Are all internships paid?</summary>
                                    <p>All internships present on our website are paid. The payment criteria for each internship is set and processed by the organization that it is for. Entrepreneurship Development Cell does not interfere with the process of transaction between students and the organization.</p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">Do we have to pay?</summary>
                                    <p>No, Entrepreneurship Development Cell does not charge any form of fee from students for applying for internships using our platform. If any organization does ask for charges in our name, we would advice strictly against it and report it to any one of our members or on any one of our social media platforms.</p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">Do we provide jobs?</summary>
                                    <p>No, we do not provide jobs of any form. Entrepreneurship Development Cell is an organization that comprises of students and is run by the students. All the students part of the organization do it voluntarily and are not bond to us by any form of contract. </p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">What do we need to have to apply for internships?</summary>
                                    <p>All you need to do is register with us using your email and then apply for the organization through our portal. Other than this, you will be needed to present a resume, that consists of all your relevant details and skill sets.</p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">How can I be a part of the EDC team?</summary>
                                    <p>Entrepreneurship Development Cell believes in enchoraging talents of all fields and as a part of it we run a recruitment drive once a year. It is open for students of all years and is held for multiple departments present within the cell, like designing, content, marketing and tech.</p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">How can I apply for internship fair as an organization?</summary>
                                    <p>As an organization looking for talented interns, you can drop a mail on our Email ID and one of our team members will soon get in touch with you.</p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">How can I apply for internship fair as a student?</summary>
                                    <p>We open the forms for the internship fair once a year, you can simply fill the form and the adjacent fee. We release all the information that you will need through our social media platforms and are open to queries on the same too.</p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">What does EDC do?</summary>
                                    <p>Other than being the only incubation center of Thapar University, we organize various events to encourage Entrepreneurship among students. We also organize Internship fair to allow students to be part of organizations and gain professional experience while being part of the college.</p>
                                </details>
                                <details>
                                    <summary style="font-weight: bold;">How can we apply to be associated with the cell?</summary>
                                    <p>We welcome organizations to collaborate with us on multiple levels. You can simply drop a mail on our email ID and one of our team members will be in contact with you to further discuss our partnership.</p>
                                </details>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

    {% endblock body %}
